* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.dark-mode {
  background-color: #333;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #540ddb, #880ddb);
  color: white;
  padding: 30px 20px;
}

header h1 {
  margin: 0;
  padding: 0 0 0 15px;
}

body.dark-mode header {
  background-image: linear-gradient(to right, #e63b32, #e6a832);
  color: white;
}

main {
  flex: 1;
  padding: 20px;
  color: inherit;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.wish-card {
  position: relative;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 20%;
  height: 450px;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .wish-card {
  background-color: #2e2e2e;
  color: white;
}

.close-btn {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 30px;
  color: grey;
}

h2 {
  margin: 25px;
  color: inherit;
}

img {
  margin-top: 40px;
}

footer {
  background-image: linear-gradient(to right, #540ddb, #880ddb);
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

footer p a {
  color: white;
}

body.dark-mode footer {
  background-image: linear-gradient(to right, #e63b32, #e6a832);
  color: white;
}

nav {
  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

nav ul {
  display: flex;
  justify-content: space-between;
  background-color: #be9df9;
  list-style: none;
  padding: 25px 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  display: block;
}

nav ul li.active a {
  background-color: #AA71FA; /* or any other style you prefer */
  border-radius: 5px;
  color: white;
}
body.dark-mode nav ul li.active a {
  background-color: #444; /* Dark mode styling */
  color: #FFF;
}

nav ul li a:hover {
  background-color: #aa71fa;
  border-radius: 5px;
}

body.dark-mode nav ul {

  background-color: #2e2e2e;

}

body.dark-mode nav ul a {
  color: #888;
}

body.dark-mode nav ul li a:hover {
  background-color: #444;
}

.form-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.custom-modal-position {
  transform: translate(0, -10%);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.wish-card {

  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  width: 22%;
  max-width: 300px;
  margin: 20px 20px;
  height: 355px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wish-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.wish-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

body.dark-mode .wish-card {
  background-color: #2e2e2e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

body.dark-mode .btn-close {
  filter: brightness(0) invert(1);
}

.modal-header,
.modal-footer {

  border-bottom: none;
  border-top: none;
  border-radius: 0;
}

body.dark-mode .modal-content {
  background-color: #2e2e2e;
  color: #888;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

body.dark-mode .form-control {
  background-color: #333;
  border: 1px solid #444;
  color: #888;
}

body.dark-mode .form-control::placeholder {
  color: #888;
  opacity: 1;
}

body.dark-mode .form-select {
  background-color: #333;
  color: #888;
  border: 1px solid #444;
}

body.dark-mode .form-control:focus,
body.dark-mode .form-select:focus {
  outline: none;
  border-color: #e6a832;
  box-shadow: 0 0 0 0.2rem rgba(230, 168, 50, 0.5);
}

body.dark-mode button[type="submit"] {

  background-color: #e63b32;

}

body.dark-mode button[type="submit"]:hover {
  background-color: darkred;
}

body.dark-mode #btn-adjust {

  background-image: linear-gradient(to right, #e63b32, #e63b32);
  border: 1px solid #e63b32;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #444;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

#error {
  color: red;
  font-size: 15px;
}

#small {

  display: none;
}

#close-form-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #888;
}

#wishes-list {
  display: flex;
  flex-wrap: wrap;
}

#btn-adjust {
  background-image: linear-gradient(to right, #4f9edb, #4d75db);
  margin-left: 20px;
  font-size: 20px;
  width: 175px;
}

#btn-custom-1 {
  height: 44px;
}

#btn-custom-2 {
  background-image: linear-gradient(to right, #540ddb, #880ddb);
}

@media (max-width: 768px) {
nav ul li a {

  font-size: 10px;
  padding: 5px;
}

#btn-adjust {

  width: 125px;
}

  .wish-card {
    width: 90%;
    margin: 10px auto;
  }
  .wish-card img {
    height: 150px;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #BE9DF9;
    list-style: none;
    padding: 15px 0;
    margin: 0;
  }
  nav ul li {
    margin: 0;
    text-align: center;
  }

  nav ul li:before {
    content: attr(data-emoji);
    font-size: 24px;
  }
  .active:before {
    content: attr(data-emoji-active);
  }
  body.dark-mode nav ul {
    background-color: #2E2E2E;
  }
  body.dark-mode nav ul li:before {
    color: #888;
  }
}


/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background:linear-gradient(to right, #d40ddb, #e6a832);;
  color: white;
}